.directorist-gutenberg-listing-card-thumbnail {
	display: grid;
	min-height: 300px;
	width: 100%;
	position: relative;
	box-sizing: border-box;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	img.directorist-gutenberg-listing-card-thumbnail-preview-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.directorist-gutenberg-listing-card-thumbnail-back {
		grid-area: 1 / 1;
		pointer-events: none;
		z-index: 1;
		position: relative;
		border-radius: inherit;
		a, img{
			border-radius: inherit;
		}
	}

	.directorist-gutenberg-listing-card-thumbnail-overlay {
		border-radius: inherit;
		&.has-background-dim {
			position: absolute;
			inset: 0;
			background-color: #000;
			z-index: 1;
			pointer-events: none;
		}

		&.has-background-gradient {
			background-color: transparent;
		}

		@for $i from 0 through 10 {
			&.has-background-dim-#{ $i * 10 } {
				opacity: $i * 0.1;
			}
		}
	}

	.directorist-gutenberg-listing-card-thumbnail-front {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		pointer-events: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}
}