.directorist-gutenberg-listing-card-element-user-avatar {
    position: relative;
    z-index: 10;
    .directorist-gutenberg-listing-user-avatar {
        display: flex;
        align-items: center;
        a{
            display: inline-block;
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid var(--directorist-color-border);
            box-sizing: border-box;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .directorist-gutenberg-listing-user-avatar-left {
        justify-content: flex-start;
    }
    .directorist-gutenberg-listing-user-avatar-center {
        justify-content: center;
    }
    .directorist-gutenberg-listing-user-avatar-right {
        justify-content: flex-end;
    }
}
.directorist-gutenberg-listing-card-element-avatar-overlap {
    margin-top: -48px !important;
}