.directorist-query-loop-template {

	.query-loop-placeholder {
		padding: 20px;
		text-align: center;
		color: #666;
		background: #f9f9f9;
		border: 1px dashed #ccc;
		margin-top: 10px;
		font-size: 13px;
	}
}
