.directorist-query-loop-template {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.directorist-query-loop-item {
		position: relative;
	}

	.directorist-query-no-results {
		padding: 40px 20px;
		text-align: center;
		color: #666;
	}
}
