/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.11.0_webpack@5.102.1/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.5.6_webpack@5.102.1/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/.pnpm/sass-loader@16.0.6_sass@1.93.3_webpack@5.102.1/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/blocks/listings-archive-header/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.directorist-gutenberg-listings-archive-header .directorist-header-bar {
  margin: 0;
}
.directorist-gutenberg-listings-archive-header .directorist-container-fluid {
  padding: 0;
}
.directorist-gutenberg-listings-archive-header .directorist-archive-sidebar-toggle {
  width: auto;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  min-height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  text-transform: capitalize;
  text-decoration: none !important;
  color: var(--directorist-color-primary);
  background-color: var(--directorist-color-light);
  border: 2px solid var(--directorist-color-white);
  cursor: pointer;
  display: none;
}
.directorist-gutenberg-listings-archive-header .directorist-archive-sidebar-toggle .directorist-icon-mask {
  margin-right: 5px;
}
.directorist-gutenberg-listings-archive-header .directorist-archive-sidebar-toggle .directorist-icon-mask::after {
  background-color: currentColor;
  width: 14px;
  height: 14px;
}
@media only screen and (max-width: 991px) {
  .directorist-gutenberg-listings-archive-header .directorist-archive-sidebar-toggle {
    display: inline-flex;
    align-items: center;
  }
}
.directorist-gutenberg-listings-archive-header .directorist-dropdown.directorist-sortby-dropdown,
.directorist-gutenberg-listings-archive-header .directorist-viewas__item {
  border: 0 none;
  outline: 0;
}
.directorist-gutenberg-listings-archive-header .directorist-listings-header .directorist-header-found-title {
  color: inherit !important;
}
.directorist-gutenberg-listings-archive-header .directorist-listings-header__right {
  flex: 1;
  justify-content: flex-end;
}
.directorist-gutenberg-listings-archive-contents .directorist-container-fluid,
.directorist-gutenberg-listings-archive .directorist-container-fluid {
  padding: 0;
}

/*# sourceMappingURL=style-index.css.map*/