/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.11.0_webpack@5.102.1/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.5.6_webpack@5.102.1/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/.pnpm/sass-loader@16.0.6_sass@1.93.3_webpack@5.102.1/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/blocks/listing-card-thumbnail/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.directorist-gutenberg-listing-card-thumbnail {
  display: grid;
  height: var(--directorist-thumbnail-height);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.directorist-gutenberg-listing-card-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.directorist-gutenberg-listing-card-thumbnail img.directorist-gutenberg-listing-card-thumbnail-preview-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-back {
  grid-area: 1/1;
  pointer-events: none;
  z-index: 1;
  position: relative;
  border-radius: inherit;
  aspect-ratio: inherit;
  height: 100%;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-back a {
  display: block;
  height: 100%;
  width: 100%;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-back a, .directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-back img {
  aspect-ratio: inherit;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay {
  border-radius: inherit;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim {
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: 1;
  pointer-events: none;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-gradient {
  background-color: transparent;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-0 {
  opacity: 0;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-10 {
  opacity: 0.1;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-20 {
  opacity: 0.2;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-30 {
  opacity: 0.3;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-40 {
  opacity: 0.4;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-50 {
  opacity: 0.5;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-60 {
  opacity: 0.6;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-70 {
  opacity: 0.7;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-80 {
  opacity: 0.8;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-90 {
  opacity: 0.9;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-overlay.has-background-dim-100 {
  opacity: 1;
}
.directorist-gutenberg-listing-card-thumbnail .directorist-gutenberg-listing-card-thumbnail-front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.directorist-gutenberg-listing-is-featured {
  border: 1px solid #ffb048;
  border-radius: 10px;
  overflow: hidden;
}

/*# sourceMappingURL=style-index.css.map*/